<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
  , initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/cfcbc29b79.js"
      crossorigin="anonymous"
    ></script>
    <style type="text/css">
      #overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row bg-dark">
          <div class="col-lg-12">
            <p
              class="text-center text-light display-4 pt-2"
              style="font-size:25px;"
            >
              note writting app
            </p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mt-3">
          <div class="col-lg-6">
            <h3 class="text-info">Register User</h3>
          </div>
          <div class="col-lg-6">
            <button class="btn btn-info float-right" @click="showAddModal=true">
              <i class="fas fa-user"></i>&nbsp;&nbsp;Add New Note
            </button>
          </div>
        </div>
        <hr class="bg-info" />
        <div class="alert alert-danger" v-if="errorMsg">
          Error Message
        </div>
        <div class="alert alert-success" v-if="successMsg">
          success Message
        </div>

        <div class="row">
          <div class="col-lg-12">
            <table class="table table-bordered table-striped">
              <thead>
                <tr class="text-center bg-info text-light">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Note</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td>1</td>
                  <td>eolfmania</td>
                  <td>gasjhkb@gmaikl</td>
                  <td>
                    ervtfrcsevg
                  </td>
                  <td>
                    <a href="#" class="text-success" @click="showEditModal=true"
                      ><i class="fas fa-edit"></i
                    ></a>
                  </td>
                  <td>
                    <a
                      href="#"
                      class="text-danger"
                      @click="showDeleteModal=true"
                      ><i class="fas fa-trash-alt"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr class="text-center">
                  <td>1</td>
                  <td>eolfmania</td>
                  <td>gasjhkb@gmaikl</td>
                  <td>
                    ervtfrcsevg
                  </td>
                  <td>
                    <a href="#" class="text-success"
                      ><i class="fas fa-edit"></i
                    ></a>
                  </td>
                  <td>
                    <a href="#" class="text-danger"
                      ><i class="fas fa-trash-alt"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr class="text-center">
                  <td>1</td>
                  <td>eolfmania</td>
                  <td>gasjhkb@gmaikl</td>
                  <td>
                    ervtfrcsevg
                  </td>
                  <td>
                    <a href="#" class="text-success"
                      ><i class="fas fa-edit"></i
                    ></a>
                  </td>
                  <td>
                    <a href="#" class="text-danger"
                      ><i class="fas fa-trash-alt"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--Add new User-->
      <div id="overlay" v-if="showAddModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add new note</h5>
              <button type="button" class="close" @click="showAddModal=false">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <form action="#" method="post">
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control form-control-lg"
                    placeholder="name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="email"
                    class="form-control form-control-lg"
                    placeholder="email"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="note"
                    class="form-control form-control-lg"
                    placeholder="note"
                  />
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-info btn-block btn-lg"
                    @click="showAddModal=false"
                  >
                    Add Note
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--Edit new User-->
      <div id="overlay" v-if="showEditModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit new note</h5>
              <button type="button" class="close" @click="showEditModal=false">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <form action="#" method="post">
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control form-control-lg"
                    placeholder="name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="email"
                    class="form-control form-control-lg"
                    placeholder="email"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="note"
                    class="form-control form-control-lg"
                    placeholder="note"
                  />
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-info btn-block btn-lg"
                    @click="showEditModal=false"
                  >
                    Update Note
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--Delete new User-->
      <div id="overlay" v-if="showDeleteModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete note</h5>
              <button
                type="button"
                class="close"
                @click="showDeleteModal=false"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <h4 class="text-danger">Are you sure??</h4>
              <h5>you are deleting blaaa</h5>
              <hr />
              <button
                class="btn btn-danger btn-lg"
                @click="showDeleteModal=false;"
              >
                Yes
              </button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button
                class="btn btn-success btn-lg"
                @click="showDeleteModal=false"
              >
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          errorMsg: false,
          successMsg: false,
          showAddModal: false,
          showEditModal: false,
          showDeleteModal: false
        }
      });
    </script>
  </body>
</html>
